:root{
    --color: #e6007e;
    --text: rgb(185,185,185);
    --mocha: #d07719;
    --dance: 'Dancing Script', cursive;
    --coffee: url(./images/brooke-cagle-9fHMo1-5Io8-unsplash.jpg);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--txt);
}

.content{
    width: 100vw;
    height: 100vh;
}

.content, .logo{
    display: flex;
    flex-flow: row wrap;
}

/* left side of webpage */

.left-side{
    background-image: var(--coffee);
    background-position: center;
    background-size: auto 600%;
    background-repeat: no-repeat;
    width: 40vw;
    display: flex;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px 0;
}

.coffee{
    display: flex;
    height: 10vh;
    border-radius: 5px;
}

.logo > h1{
    display: flex;
    flex-basis: 1;
    font-family: var(--dance);
    color: rgba(252,239,222);
    font-size: 3.5rem;
}

.image-caption{
    position: absolute;
    bottom: 20px;
    color: white;
}

/* right side of webpage */
.right-side{
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 5vw;
}

.snippet{
    display: flex;
    flex-flow: column nowrap;
}

.snippet > :first-child{
    font-family: var(--dance);
    font-size: 3.5rem;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.snippet > h1{
    font-family: var(--dance);
    font-size: 2.5em;
    font-weight: lighter;
}

.form-top{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.form-top:first-child label{
    line-height: 25px;
} 
  
.form{
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    padding-top: 10px;
    padding: 20px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 1.3rem;
}

input{
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid var(--mocha)
}

button{
    font-weight: 600;
    font-size: 1.4em;
    font-family: var(--dance);
    padding: 5px 10px;
    margin: 40px 0;
}

button:hover{
    background-color: var(--mocha);
    color: white;
}

.login{
    display: flex;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--mocha);
}

@media only screen and (max-width: 600px){
    .content{
        flex-flow: column;
        height: auto;
        text-align: center;
    }

    .left-side{
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }

    .logo{
        width: 100vw;
        margin: 5px;
        position: static;
        height: 10vh;
        gap: 20px;
        display: flex;
    }

    .logo > h1{
        font-size: 2.5em;
    }

    .coffee{
        height: 10vh;
    }

    .image-caption{
        display: none;
    }

    .right-side{
        width: auto;
        height: auto;
    }

    .snippet{
        width: auto;
        margin-top: 20px;
    }

    .snippet > :first-child{
        font-family: var(--dance);
        font-size: 2.5rem;
    }

    .form{
        flex-flow: column nowrap;
        align-items: center;
    }

    .form-top{
        width: auto;
    }

    .input{
        text-align: left;
        width: 100%;
        font-size: 1em;
    }

    input{
        height: 1.5rem;
        width: 85vw;
    }

    .login{
        display: flex;
        justify-content: center;
    }

    button{
        margin: 20px 0;
        width: 60vw;

    }

}